<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.9">
        <title>Sendt melding</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/sendt.css')}}">
    </head>
    <body>
        <h1 id = "Send_melding">Sendt</h1>
        <br>
        <p id = "Melding_text">Melding</p>
        <br>
        <p id = "Melding">{{ melding }}</p>
        <br>
        <a id = "Tilbake_knapp" class='btn btn-primary' href = "/mat_alarm">Tilbake</a>
    </body>
</html>